<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>

    <Parameter name="pscWasteUsernName1" value="" />
    <Parameter name="pscWastePassword1" value="" />

    <Parameter name="pscWasteUsernName2" value="" />
    <Parameter name="pscWastePassword2" value="" />
    
    <Parameter name="wasteTeamLeadUsername" value="" />
    <Parameter name="wasteTeamLeadPassword" value="" />

    <Parameter name="wasteIntelUsername" value="" />
    <Parameter name="wasteIntelPassword" value="" />
    
    <Parameter name="crmDestinationUrl" value="" />
  </TestRunParameters>
</RunSettings>