<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
<!-- prod: org3956453f // master:orgc00df9d4 -->
    <!-- <add name="CRMOnline" connectionString="AuthType=Office365;Url=https://orgc00df9d4.crm4.dynamics.com; username=;password=" /> -->

    <add name="CRMOnline" connectionString="AuthType=Office365;Url=https://org3956453f.crm4.dynamics.com; username=;password=" />  

  </connectionStrings>
</configuration>