<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    
    <add name="CRMOnline" connectionString="AuthType=Office365;Url=https://orgc00df9d4.crm4.dynamics.com; username=Masoud.Ghabachi@defradev.onmicrosoft.com;password=SportSoft!2" />
  
  
   
  </connectionStrings>
</configuration>

