<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!-- waste: org5b7e3ee1-->
    <!--MAster orgc00df9d4-->
    <add name="CRMOnline" connectionString="AuthType=Office365;Url=https://org5b7e3ee1.crm4.dynamics.com; username=masoud.ghabachi@defradev.onmicrosoft.com;password=SportSoft!2" />
  
  
   
  </connectionStrings>
</configuration>

